@import "videosearchlist";
//Overrider material
.material-icons {
  font-size: 28px;
  display: flex;
  align-items: center;
}

.md-fab {
  display: flex;
}

html {
  width: 100%;
  overflow-x: hidden;
}


body {
  -webkit-font-smoothing: antialiased;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h2 {
  font-size: 2rem;
}
