<div class="video-wrapper">

  <h1>{{title}}</h1>

  <h2>{{subtitle}}</h2>

  <ul class="youtube-video-list-names animate-show-hide" ng-show="YoutubeSearchResults">
    <li ng-show="YoutubeSearchResults" ng-repeat='found in YoutubeSearchResults'>{{found.snippet.title}}</li>
  </ul>

  <ul class="base-opacity" ng-show="ShowSocial">
    <li ng-show="ShowSocial">{{TicketMasterAttractionLinksFacebook}}</li>
    <li ng-show="ShowSocial">{{TicketMasterAttractionLinksHomepage}}</li>
    <li ng-show="ShowSocial">{{TicketMasterAttractionLinksInstagram}}</li>
    <li ng-show="ShowSocial">{{TicketMasterAttractionLinksItunes}}</li>
    <li ng-show="ShowSocial">{{TicketMasterAttractionLinksYoutube}}</li>
  </ul>

  <input type="text" ng-model="searchText" ng-Change="searchSet(searchText)">
  <button ng-click="newQuery(searchText)">Request</button>

</div>